<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h4>Login</h4>
    <form action="/auth/login" method="POST" id="form-container">
    <!-- <img class="card-img-top" src="/images/humanFace.jpg" alt="logo ironhack"> -->
    <div class="camaraContainer">
      <video id='video' autoplay hidden></video>
      <canvas id='grabFrameCanvas'></canvas>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary btn-sm btn-block" onclick="onGetUserMediaButtonClick()">Prende Camara</button>
          <button type="button" class="btn btn-primary btn-sm btn-block" onclick="onGrabFrameButtonClick()">Foto</button>
          <button type="button" class="btn btn-primary btn-sm btn-block" onclick="onStop()">Apaga Camara</button>
          <button type="button" class="btn btn-primary btn-sm btn-block" onclick="save()">Salvar</button>
          <button type="button" class="btn btn-primary btn-sm btn-block" onclick="analizar()">Analizar</button>
        </div>
      </div>
    </div>
    <br><br>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
      </div>
      <input type="text" class="form-control" name="username" id="username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter username">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email address</span>
      </div>
      <input type="email" class="form-control" name="email" id="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter email">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
      </div>
      <input type="password" class="form-control" name="password" id="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Password">
    </div>

    <small id="usernameHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>

    <br>
    {{#if message }}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {{/if}}

    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </div>
    </div>
    <br><br>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
  </div>
  <div class="col-md-4"></div>
</div>
<script type="text/javascript" src='/javascripts/scriptLogin.js'></script>
