<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h4>Login</h4>
    <form action="/auth/login" method="POST" id="form-container">
    <!-- <img class="card-img-top" src="/images/humanFace.jpg" alt="logo ironhack"> -->
    <div style="text-align: center">
      <canvas width="250" height="250" id="canvas"></canvas>
      <video autoplay hidden id='video'></video>
    </div>
    <button type="button" class="btn btn-primary btn-sm btn-block" id="btnstart">Start</button>
    <button type="button" class="btn btn-primary btn-sm btn-block" id="btnstop">Stop</button>
    <br>
    <br>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Username 2</span>
      </div>
      <input type="text" class="form-control" name="username2" id="username2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter username">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email address 2</span>
      </div>
      <input type="email" class="form-control" name="email2" id="email2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter email">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Password 2</span>
      </div>
      <input type="password" class="form-control" name="password2" id="password2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Password">
    </div>

    <small id="usernameHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>

    <br>
    {{#if message }}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {{/if}}

    <br>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <br><br>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
  </div>
  <div class="col-md-4"></div>
</div>
<script type="text/javascript" src='/javascripts/scriptLogin.js'></script>
