<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form action="/admin/users" method="get" class="formulario">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
        </div>
        <input type="text" class="form-control" name="username" id="username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{user.username}}" readonly>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
        </div>
        <input type="text" class="form-control" name="email" id="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{user.email}}" readonly>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Role</span>
        </div>
        <input type="text" class="form-control" name="role" id="role" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{user.role}}" readonly>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
        </div>
        <input type="text" class="form-control" name="status" id="status" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{user.status}}" readonly>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-block">Return</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
