<div class='landing'>
	<div class='home-wrap'>
		<div class='home-inner'></div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
	</div>
</div>
<!-- start landing page caption -->
<div class='caption center-block text-center'>
	<h3>SENTIMENT ANALYSIS</h3>
	<h3>{{ perfil.role }}</h3>
	{{#if perfil.role }}		
	{{else}}
		<a class='btn btn-primary' href="/auth/login">Login</a>
  	<a class='btn btn-primary' href="/auth/signup">Signup</a>
	{{/if}}	
</div>
