<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/javascripts/scriptDashboard.js"></script>
<h1>Dashboard</h1>
<canvas id="myChart" width="400" height="400"></canvas>
